* {
  margin: 0;
  padding: 0;
}

.tela-1 {
  height: 10vh;
}

.links {
  width: 100%;
  height: 23px;
  position: fixed;
  display: flex;
  background-color: transparent;
  padding: 34px;
  z-index: 99;
}

.links label {
  padding: 10px 0;
  flex-grow: 1;
  transition: all 0.5s;
  cursor: pointer;
  text-align: center;
  font-family: Rubik, sans-serif;
  font-size: 100%;
  color: gray;
  font-weight: bold;
  margin-right: 73px;
}

.links label:hover {
  color: red;
  font-size: 30px;
  font-family: "manrope", sans-serif;
  font-weight: bold;
}

.scroll input {
  display: none;
}

/* .menu-1 {
  background-color: transparent;
  padding: 23px;
  position: fixed;
  z-index: 99;
  width: 100%;
} */

/* .ul-list li {
  display: inline-block;
  margin-left: 87px;
} */
/* 
.ul-list li a {
  color: #c0bfbf;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  font-family: Rubik, sans-serif;
}

.ul-list li a:hover {
  color: red;
} */

/*novo estilo*/
